<footer class="text-white py-4">
  <div class="container">
    <div class="row">
      <!-- Bagian Paragraf -->
      <div class="col-md-4">
        <h3 class="fw-bold">RANARA CINEMA</h3>
        <p>
          Ranara Cinema Adalah Bioskop yang didirikan oleh sekelompok Mahasiswa TI yang memiliki hobi menonton film.
          Ranara Cinema berdiri sejak tahun 2024.
        </p>
      </div>

      <!-- Bagian Kosong (Kolom Tengah) -->
      <div class="col-md-4"></div>

      <!-- Bagian Link Navigasi -->
      <div class="col-md-4">
        <ul class="list-unstyled mt-4">
          <li class="mb-2">
            <a href="/home" class="text-white text-decoration-none">Home</a>
          </li>
          <li class="mb-2">
            <a href="/order" class="text-white text-decoration-none">Order</a>
          </li>
          <li class="mb-2">
            <a href="ticket" class="text-white text-decoration-none">Tiket</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Bagian Footer Hak Cipta -->
  <div class="text-center-footer py-2">
    <p class="mb-0">© 2024 RANARA Cinema. All rights reserved.</p>
  </div>
</footer>
