<footer class="text-white py-4">
  <div class="container">
    <div class="row">
      <!-- Bagian Paragraf -->
      <div class="col-md-4">
        <h3 class="fw-bold" style="margin-top: 30px">RANARA CINEMA</h3>
        <p class="text-justify" style="margin: 30px 20px 0 20px; text-align: justify;">
          <span>Booking Tiket Film Favorit Anda di Ranara Cinema.</span> Pesan tiket bioskop favorit Anda secara online di Ranara Cinema dengan proses cepat, aman, dan nyaman. Jangan lewatkan film terbaru, pesan tiket Anda sekarang juga! 
        </p>
      </div>

      <!-- Bagian Kosong (Kolom Tengah) -->
      <div class="col-md-4"></div>

      <!-- Bagian Link Navigasi -->
      <div class="col-md-4">
        <ul class="list-unstyled" style="margin-top: 40px">
          <li class="mb-3">
            <a href="/home" class="text-white text-decoration-none">Home</a>
          </li>
          <li class="mb-3">
            <a href="/detail" class="text-white text-decoration-none">Tiket</a>
          </li>

          <!-- Tampilkan link admin hanya jika pengguna adalah admin -->
          <% if (role === "admin") { %>
            <li class="mb-3">
              <a href="/mngUser" class="text-white text-decoration-none">Manage Users</a>
            </li>
            <li class="mb-3">
              <a href="/admin" class="text-white text-decoration-none">Manage Admin</a>
            </li>
          <% } %>
        </ul>
      </div>
    </div>
  </div>
  
  <!-- Bagian Footer Hak Cipta -->
  <div class="d-flex justify-content-center ">
    <p class="mb-0">© 2025 Kelompok 2. All rights reserved.</p>
  </div>
</footer>
