<div class="container mt-5">
    <h1 class="text-center mb-4">Your Ticket</h1>
    <div class="card mx-auto" style="max-width: 500px;">
      <div class="card-body">
        <h5 class="card-title text-center">Movie Title: <%= movieTitle %></h5>
        <p class="card-text">Name: <%= name %></p>
        <p class="card-text">Number of Tickets: <%= quantity %></p>
        <p class="card-text">Booking ID: <%= bookingId %></p>
        <a href="/home" class="btn btn-primary btn-block">Back to Home</a>
      </div>
    </div>
  </div>
  