/* General styling */
body {
  background-color: #405D72;
  font-family: "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none;
}

.custom-heading {
  font-family: 'Poppins', sans-serif;; /* Ganti dengan font yang diinginkan */
  font-size: 2.5rem; /* Atur ukuran font */
  font-weight: 700; /* Atur ketebalan font */
  color: black; /* Ubah warna jika diperlukan */
  text-transform: uppercase; /* Opsional: ubah teks menjadi huruf kapital */
  letter-spacing: 1px; /* Opsional: tambahkan spasi antar huruf */
}


h1,
h5 {
  color: #2c3e50;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5px;
  font-family: 'Poppins', sans-serif;;
}
p{
  padding-bottom: 0;
}
h6{
  font-size: 12px;
  padding-top: 0;
  padding-bottom: 10px;
}

.navbar {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 20px; /* Membuat sudut melengkung */
  padding: 10px 20px; /* Spasi dalam navbar */
  margin: 20px auto; /* Spasi di sekitar navbar */
  max-width: 95%; /* Batasi lebar navbar */
}

/* Navbar styles */
.navbar-dark {
  background-color: #758694; /* Warna gelap navbar */
}

.navbar-logo{
  width: 10%;
  padding-left: 10px;
}

.navbar-nav .nav-link {
  color: #ffffff;
  transition: color 0.3s ease;
  font-family: 'Poppins', sans-serif;;
}

.navbar-nav .nav-link:hover {
  color: #f1c40f;
}

/*Carousel*/
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
}
.carousel-control-prev:hover, 
.carousel-control-next:hover {
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
}
/* Custom Button Styles */
.custom-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.custom-btn:hover {
  transform: scale(1.2);
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
  width: 20px;
  height: 20px;
}

/* Mengatur ukuran gambar di dalam carousel */
.carousel-inner img {
  height: 100%;
  border-radius: 0; /* Reset radius gambar jika perlu */
  object-fit: cover; /* Memastikan gambar tetap proporsional */
}

#carouselExampleAutoplaying {
  border-radius: 20px; /* Atur radius sesuai kebutuhan */
  overflow: hidden; /* Pastikan konten tetap dalam area melengkung */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Opsional: Tambahkan efek bayangan */
  width: 90%; /* Lebar lebih besar untuk memanjang */
  max-width: 3000px; /* Maksimal lebar lebih besar */
  height: 525px; /* Tinggi lebih rendah untuk efek memanjang */
  margin: 0 auto; /* Agar carousel tetap berada di tengah */
}

/* Card styles */
.card-container {
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  border-radius: 8px;
  overflow: hidden;
  background-color: #D9D9D9;
  padding: 20px;
}

.card-container:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-img-top {
  border-bottom: 3px solid #05426b;
}

/* Modal */
.modal-header {
  background-color: #405D72;
  color: white;
}

.btn-secondary {
  background-color: #3498db;
  border: none;
  transition: background-color 0.3s ease;
  width: 100%;
}

.btn-secondary:hover {
  background-color: #2980b9;
}

.modal-footer {
  background-color: #f1f1f1;
}

#movie-details {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#buy-ticket {
  margin-top: 15px;
}

/* Buttons */
.btn-primary {
  background-color: #213555;
  border: none;
  transition: background-color 0.3s ease;
  width: 100%;
  font-family: 'Poppins', sans-serif;;;
}

.btn-primary:hover {
  background-color: #2980b9;
}

.btn-success {
  background-color: #27ae60;
  border: none;
  transition: background-color 0.3s ease;
}

.btn-success:hover {
  background-color: #229954;
}

/* Forms */
form {
  max-width: 500px;
  margin: auto;
}

label {
  font-weight: bold;
}

/* Footer styles */
footer {
  position: relative; /* Mengikuti alur halaman */
  transform: translateY(100%); /* Geser footer ke luar layar */
  transition: transform 0.3s ease-in-out; /* Efek transisi saat muncul */
  background-color: #202e38;
  color: white;
  padding: 20px;
  text-align: center;
}

footer:target,
footer.visible {
  transform: translateY(0); /* Footer akan muncul saat scroll ke bawah */
}

footer a {
  color: #f1c40f;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

/* Text decoration for completed tasks */
.completed {
  text-decoration: line-through;
  color: gray;
}

/*Login*/

/* Background untuk halaman login */
/* Styling for the container */

.container-login {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Card styling */
.card-login {
  display: flex;
  flex-direction: row;
  width: 50%; /* Lebar card */
  max-width: 1000px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Bayangan awal */
  border-radius: 25px;
  background-color: #AEC0CD;
  margin: auto; /* Memindahkan card ke tengah */
  margin-top: 150px; /* Memberi jarak di bagian atas */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transisi halus */
}


/* Left side card (image) */
.card-left {
  flex: 1;
  overflow: hidden;
}

.card-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-login:hover {
  transform: scale(1.05); /* Membuat card sedikit membesar */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Bayangan lebih besar saat hover */
}

/* Right side card (form) */
.card-right {
  flex: 1;
  padding: 2rem;
}

/* Additional form styling */
.form-control {
  margin-bottom: 1rem;
}

.btn {
  width: 100%;
}

/* Optional: Add some spacing and center the content */
h1 {
  text-align: center;
  margin-bottom: 1rem;
  font-family: 'Poltawski Nowy';
  color: black;
}

p {
  text-align: center;
}

/* Mengubah font placeholder hanya pada form input login */
.card-right input::placeholder {
  font-family: 'Poppins', sans-serif;; /* Ganti dengan font yang diinginkan */
  font-size: 12px; /* Ukuran font placeholder */
  color: #838282;    /* Warna teks placeholder */
  font-weight: 400; /* Berat font placeholder */
  font-style: italic;
}

/* Mengubah warna tombol login */
.btn-login {
  background-color: #213555; /* Ganti dengan warna yang diinginkan */
  color: white; /* Warna teks pada tombol */
  border: none; /* Menghilangkan border */
  font-family: 'Poppins', sans-serif;;
  font-weight: bold; 
}

.btn:hover {
  background-color: #174475; /* Warna saat tombol di-hover */
}

.text-right {
  text-align: right; /* Mengatur teks agar rata kanan */
  margin-top: 20px;   /* Menambahkan jarak atas jika diperlukan */
  color: white;
  font-family: 'Poppins', sans-serif;;
  font-weight: lighter;
}

/* Mengatur lebar maksimal untuk form dan tombol login */
.card-right form {
  width: 100%;
  max-width: 350px; /* Atur lebar maksimal form */
  margin: auto;     /* Pusatkan form */
}

/* Mengatur lebar tombol login */
.card-right .btn {
  width: 100%; /* Tombol mengikuti lebar form */
  max-width: 350px; /* Lebar maksimal tombol */
  margin-top: auto; /* Jarak antara tombol dan input sebelumnya */
}

.btn-admin {
  float: right; /* Mengatur posisi tombol di sebelah kiri */
  width: auto; /* Mengatur lebar otomatis sesuai konten */
  padding: 8px; /* Menyesuaikan padding untuk tombol kecil */
  font-size: 14px; /* Ukuran font kecil */
  margin-bottom: 15px; /* Menambahkan jarak dengan tabel */
  color: #ffffff;
  font-weight: bold;
  background-color: #0F7BCA;
}

.btn-admin:hover {
  background-color: #083352;
  color: #ffffff;
}

.table {
  font-family: 'Poppins', sans-serif; /* Gunakan nama lengkap font */
  font-size: 14px; /* Sesuaikan ukuran font jika diperlukan */
  border-radius: 8px; /* Membuat sudut tumpul dengan radius 8px */
  overflow: hidden; /* Menghindari konten keluar dari sudut tumpul */
}

.table th{
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
}

.table td{
  padding: 10px;
}

.actions {
  display: flex;
  justify-content: space-between; /* Membuat button sejajar kanan dan kiri */
  gap: 10px; /* Memberikan jarak antar button */
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

.editBtn {
  background-color: #ffc107; /* Warna kuning */
  color: #000;
  border-radius: 8px;
}

.deleteBtn {
  background-color: #dc3545; /* Warna merah */
  color: #fff;
  border-radius: 8px;
}

.text-center{
  color: white;
  font-weight: bold;
}

/* Modal background */
.modal-content {
  background-color: #fdeee4; /* Warna latar belakang modal */
  border-radius: 10px; /* Membuat sudut modal melengkung */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Memberikan efek bayangan */
}

/* Header modal */
.modal-header {
  background-color: #213555; /* Warna biru gelap */
  color: white; /* Teks berwarna putih */
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase; /* Mengubah teks menjadi uppercase */
}

/* Title modal */
.modal-title {
  color: white;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
}

/* Input dan textarea */
.form-control {
  background-color: #e1e1e1; /* Warna abu-abu muda */
  border: none; /* Hilangkan border */
  border-radius: 5px; /* Membuat sudut melengkung */
  padding: 10px; /* Memberikan jarak di dalam input */
}

/* Label */
.form-label {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 16px;
}

/* Tombol Simpan */
.btn-actionAdm {
  background-color: #3C6D96; /* Warna biru gelap */
  color: white; /* Teks putih */
  border: none; /* Hilangkan border */
  border-radius: 20px; /* Membuat tombol oval */
  padding: 5px 10px; /* Ukuran tombol */
  width: 100%; /* Tombol memenuhi lebar container */
  font-family: 'Poppins', sans-serif;
}

.btn-actionAdm:hover {
  background-color: #17324a; /* Warna lebih gelap saat hover */
}

/* Modal body spacing */
.modal-body {
  padding: 20px; /* Memberikan jarak di dalam modal */
}

/* Button close */
.btn-close {
  color: rgb(255, 255, 255);
  opacity: 1; /* Pastikan ikon close terlihat */
}

.btn-close:hover {
  color: #ffffff; /* Warna lebih terang saat hover */
}

.modal-content {
  border-radius: 10px;
}


button.btn {
  font-size: 14px;
  font-weight: bold;
  border: none;
}

button.btn-delete {
  background-color: #FF3D3D;
  border-radius: 5px;
  padding: 5px 15px;
}

button.btn-close {
  filter: invert(1); /* Membuat tombol close terlihat putih */
}

/*signup*/
/* Card styling */
.card-signup {
  display: flex;
  flex-direction: row;
  width: 50%; /* Lebar card */
  max-width: 1000px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Bayangan awal */
  border-radius: 25px;
  background-color: #AEC0CD;
  margin: auto; /* Memindahkan card ke tengah */
  margin-top: 150px; /* Memberi jarak di bagian atas */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transisi halus */
}

.card-signup:hover {
  transform: scale(1.05); /* Membuat card sedikit membesar */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Bayangan lebih besar saat hover */
}
/* Left side card (image) */
.card-left {
  flex: 1;
  overflow: hidden;
  border-radius: 10px 0 0 10px; /* Membuat sudut kiri atas dan bawah melengkung */
}

/* Right side card (form) */
.card-right {
  flex: 1;
  padding: 2rem;
}

.card-right h1 {
  text-align: center;
  margin-bottom: 1rem;
  font-family: 'Poltawski Nowy';
  color: black;
}

.card-left img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Memastikan gambar menutupi area tanpa terdistorsi */
}

/* Mengubah warna tombol login */
.btn-signup {
  background-color: #213555; /* Ganti dengan warna yang diinginkan */
  color: white; /* Warna teks pada tombol */
  border: none; /* Menghilangkan border */
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  border-radius: 10px; /* Menambahkan sudut melengkung pada tombol */
  padding: 8px; /* Memberikan sedikit padding agar tombol tidak terlalu kecil */
  width: 100%; 
}

.btn-signup:hover {
  background-color: #174475; /* Warna saat tombol di-hover */
}

.text-right-signup {
  text-align: right; /* Mengatur teks agar rata kanan */
  margin-top: 20px;   /* Menambahkan jarak atas jika diperlukan */
  color: white;
  font-family: 'Poppins', sans-serif;;
  font-weight: lighter;
  font-size: small;
}